#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
    color: red;
}
a
{
	font-family: 'goethebold' ,sans-serif;
	position: absolute;
	font-size: 30px;
	text-decoration: none;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
	background-image:linear-gradient(180deg,#ff3a2a,#c71e11,	#520600, 	#ff3a2a);
	background-clip:text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#soundimg
{
	position: absolute;
	z-index: 100;
	display:block;
	right: 10px;
	top: 10px;
}

#flyin
{
  display:flex;
  position:fixed;
  top: 80%;
  right:-110px;
  font-size: 25px;
  transition: 0.5s ease-in-out;
 

}

#hanger
{

 width: 40px;
 background-color:white;
 color: black;
 padding: 0px 10px;
}

#hangercontent
{
   background-color:#520600;
   cursor: pointer;
   padding: 0px 10px;
}