* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'goethebold' ,sans-serif;
  font-size: 20px;
  line-height: 1.6;
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li {
  margin: 0px 20px;
  display: inline;
}

a {
  color: white;
  text-decoration: none;
}

#section {
  text-align: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  margin: auto;
}

#section h1 {
  font-size: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3a2a), color-stop(#c71e11), color-stop(#520600), to(#ff3a2a));
  background-image: linear-gradient(180deg, #ff3a2a, #c71e11, #520600, #ff3a2a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#backgroundvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#ticker {
  width: 800px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#rotator {
  height: 230px;
  font-size: 50px;
  margin: 0 0 10px;
  overflow: hidden;
}

#rotator span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#rotator span {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3a2a), color-stop(#c71e11), color-stop(#520600), to(#ff3a2a));
  background-image: linear-gradient(180deg, #ff3a2a, #c71e11, #520600, #ff3a2a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#result {
  height: 30px;
  font-size: 25px;
  color: white;
  line-height: 30px;
  letter-spacing: 3px;
}

#global {
  height: 30px;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  visibility: hidden;
}

#symbol {
  position: absolute;
  top: 5px;
  left: 50px;
}

#symbol:hover {
  cursor: pointer;
}

footer {
  font-size: 18px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

#button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 10px 3px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: red;
  font-size: 30px;
  font-family: 'goethebold' ,sans-serif;
  border: 2px solid white;
  border-radius: 5%;
  margin: 8px;
}

#button em {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3a2a), color-stop(#c71e11), color-stop(#520600), to(#ff3a2a));
  background-image: linear-gradient(180deg, #ff3a2a, #c71e11, #520600, #ff3a2a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#livebutton {
  display: inline-block;
  margin: auto;
  margin-top: 8px;
  padding: 4px 10px;
  line-height: 1.0;
  background: transparent;
  border: 2px solid white;
  font-size: 30px;
  border-radius: 5%;
}

#livebutton a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3a2a), color-stop(#c71e11), color-stop(#520600), to(#ff3a2a));
  background-image: linear-gradient(180deg, #ff3a2a, #c71e11, #520600, #ff3a2a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#livebutton:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#cookieannoyance {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 35;
  background-color: black;
}

#cookieannoyance button, #cookieannoyance a {
  font-family: 'goethebold' ,sans-serif;
  font-size: 50px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(darkgrey), to(black));
  background-image: linear-gradient(180deg, white, darkgrey, black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cookieannoyance button:hover, #cookieannoyance a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background-image: linear-gradient(180deg, white, black);
}

#cookieannoyance a {
  margin-top: -140px;
}

#cookieannoyance a:hover {
  cursor: default;
}

#soundtoggle {
  position: absolute;
  right: 120px;
  top: 9px;
}

#soundtoggle:hover {
  cursor: pointer;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

#flyin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 80%;
  right: -120px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#hanger {
  width: 40px;
  background-color: white;
  color: black;
  padding: 0px 10px;
}

#hangercontent {
  background-color: #520600;
  cursor: pointer;
  padding: 0px 10px;
}

@media only screen and (max-width: 1800px) {
  #global {
    line-height: 1.2;
  }
  #global li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  #section h1 {
    font-size: 40px;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #section h1 {
    font-size: 30px;
  }
  #symbolgif {
    height: 50px;
  }
}

@media only screen and (max-width: 400px) {
  #section h1 {
    font-size: 25px;
  }
  #global {
    line-height: normal;
  }
  #global li {
    font-size: 15px;
  }
  #livebutton {
    font-size: 20px;
  }
  #button {
    font-size: 21px;
  }
  #soundimg {
    width: 22px;
    height: 27px;
  }
  #soundtoggle {
    right: 100px;
  }
}

@media only screen and (max-width: 800px) {
  #ticker {
    width: 100%;
  }
  #rotator {
    height: 130px;
    font-size: 20px;
  }
  #rotator span {
    margin-top: 10px;
  }
  #result {
    height: 20px;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px;
  }
  #result li {
    margin: 0px 5px;
  }
  #result img {
    width: 12px;
    height: 12px;
  }
  #result footer em {
    font-size: 10px;
  }
}

@media only screen and (max-height: 900px) {
  #global li {
    font-size: 16px;
  }
}

@media only screen and (max-height: 820px) {
  #global li {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */