*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: 'goethebold' ,sans-serif;
    font-size: 20px;
    line-height: 1.6;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

li
{
  margin: 0px 20px;
  display:inline;
}

a
{
  color: white;
  text-decoration: none;
}
#section
{
    text-align:center;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    margin: auto;
    h1
    {
        font-size: 70px;
        background-image:linear-gradient(180deg,#ff3a2a,#c71e11,	#520600, 	#ff3a2a);
        background-clip:text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


#backgroundvideo 
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


#ticker {
    width: 800px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #rotator {
    height: 230px;
    font-size: 50px;
    margin: 0 0 10px;
    overflow: hidden;
    span
    {
      &:hover
      {
        transform: scale(1.1);
      }
    }
  }
  
  #rotator span {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    background-image:linear-gradient(180deg,#ff3a2a,#c71e11,	#520600, 	#ff3a2a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #result {
    height: 30px;
    font-size: 25px;
    color: white;
    line-height: 30px;
    letter-spacing: 3px;
  }

  #global
  {
    height: 30px;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    visibility: hidden;
  }

#symbol
{
  position: absolute;
  top:5px;
  left:50px;
  &:hover
  {
    cursor:pointer;
  }
}

footer
{
  font-size: 18px;
  position:absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

#button
{

  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 10px 3px 10px;
  background-color: transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: red;

  font-size: 30px;
  font-family: 'goethebold' ,sans-serif;
  border: 2px solid white;
  border-radius: 5%;
  margin: 8px;
  em
  {
    background-image:linear-gradient(180deg,#ff3a2a,#c71e11,	#520600, 	#ff3a2a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  //border-radius: 50%;
 // clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  &:hover
  {
    transform: scale(0.97);
  }
}

  #livebutton
  {
    display:inline-block;
    margin: auto;
    margin-top: 8px;
    padding: 4px 10px;
    line-height: 1.0;
    background: transparent;
    border: 2px solid white;
    font-size:30px;
    border-radius: 5%;
    a
    {
      background-image:linear-gradient(180deg,#ff3a2a,#c71e11,	#520600, 	#ff3a2a);
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover
    {
      transform:scale(0.97);
    }
  }

  #cookieannoyance
  {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 35;
    background-color: black;


    button, a
    {
      font-family: 'goethebold' ,sans-serif;
      font-size: 50px;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      color:grey;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%);
      background-image:linear-gradient(180deg,white,darkgrey, black);
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover
      {
        background-image:linear-gradient(180deg,white,black);
      }
    }
    a
    {
      margin-top: -140px;
      &:hover
      {
        cursor: default;
      }
    }
  }

 #soundtoggle
 {
  position: absolute;
  right: 120px;
  top: 9px;
  &:hover
  {
    cursor:pointer;
    transform: scale(0.96);
  }
 }

 #flyin
 {
   display:flex;
   position:fixed;
   top: 80%;
   right:-120px;
   transition: 0.5s ease-in-out;
  

 }

 #hanger
 {

  width: 40px;
  background-color:white;
  color: black;
  padding: 0px 10px;
 }

 #hangercontent
 {
    background-color:#520600;
    cursor: pointer;
    padding: 0px 10px;
 }

 //!start of medias

 @media only screen and (max-width: 1800px)
{

  #global
  {
    line-height: 1.2;
    li
    {
      display:flex;
      justify-content: center;
    }
  }
}


@media only screen and (max-width: 800px)
{
#section
{
  h1{
    font-size: 40px;
    padding: 20px;
  }
}

}

@media only screen and (max-width: 600px)
{
#section
{
  h1{
    font-size: 30px;
  }
}

#symbolgif
{
  height: 50px;
}

}

//? phone size media queries from here
@media only screen and (max-width: 400px)
{
#section
{
  h1{
    font-size: 25px;
  }
}

#global
{
  line-height: normal;
  li
  {
    font-size: 15px;
  }
}

#livebutton
{
  font-size: 20px;
}

#button
{
  font-size: 21px;
}

#soundimg
{
  width: 22px;
  height: 27px;
}

#soundtoggle
{
  right: 100px;
}
}

//the main scroll section
@media only screen and (max-width: 800px)
{

  
#ticker {
  width: 100%;
}

#rotator {
  height: 130px;
  font-size: 20px;
}

#rotator span {
  margin-top: 10px;
}

#result {
  height: 20px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 3px;
  margin: 0px;
  padding: 0px;
  
  li
  {
    margin: 0px 5px;
  }
  img
  {
    width: 12px;
    height: 12px;
  }

  footer
  {
    em
    {
      font-size: 10px;
    }
  }
}
}

// vertical media querie
@media only screen and (max-height: 900px)
{
  #global
  {
   
    li
    {
      font-size: 16px;

    }
  }
}

@media only screen and (max-height: 820px)
{
  #global
  {
   
    li
    {
      display:inline-block;

    }
  }
}


//!start of live section
#liveholder
{
  text-align: center;
  width: fit-content;
  margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
  span {
    position: relative;
    display: block;
    img
    {
      margin-right: 5px;
    }
  }
}

#symbolcenter
{
  margin-top: 20px;
}


@media only screen and (max-width: 400px)
{
#liveholder
{
  span{
    font-size: 12px;
  }
}
}

@media only screen and (max-width: 520px)
{
  #livetitle
  {
    font-size: 20px;
  }
}


